.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

.heading {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 12px;
}

.label {
  color: #444;
  display: block;
  font-size: 14px;
  margin: 8px 0;
}

.inputContainer {
  position: relative;
}

.input {
  appearance: none;
  background-color: #fefefe;
  border: 1px solid #a9a9a9;
  display: block;
  font-size: 12px;
  padding: 12px 40px 12px 12px;
  width: 100%;
}

.loading {
  background-image: url('https://cdn2.rcstatic.com/images/site_graphics/newsite/preloader64.gif');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 32px;
  margin-top: -16px;
  position: absolute;
  right: 8px;
  top: 50%;
  width: 32px;
}

.list {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  margin: 0;
  left: 0;
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 100%;
  width: calc(100% - 2px);
}

.item {
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  border-radius: 2px;
  color: #222;
  cursor: pointer;
  display: flex;
}

.action {
  appearance: none;
  background: transparent;
  border: 0;
  display: flex;
  font-size: 14px;
  padding: 12px;
  text-align: left;
  width: 100%;
}

.tag {
  background-color: #f2817f;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin-right: 16px;
  min-width: 48px;
  padding: 2px 6px;
  text-align: center;
}

.location {
  display: flex;
  flex-direction: column;
}

.primaryText {
  font-weight: 700;
  margin-right: 8px;
}

.secondaryText {
  color: #808080;
  font-size: 12px;
}

.item:hover, .item:focus {
  background-color: #e9ffff;
}
