@import url('https://fonts.googleapis.com/css?family=Ubuntu:700|Open+Sans:400,700');
@import-normalize;

div, input {
  box-sizing: border-box;
}

body {
  font-family: open sans,Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
